* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #255538;
    color: white;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login img {
    margin-top: 3%;
    width: 235px;
    height: 185px;
}

#inpForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#inpForm p {
    margin-top: 10px;
    text-align: center;
}

#inpForm p a {
    text-decoration: none;
    color: #FFF9A6;
}

.additionalText {
    width: 200px;
    display: flex;
    align-items: center;
    margin: 15px;
}

.stackText {
    position: absolute;
}

#NoInp {
    display: none;
}

#NoAcc {
    /* display: none; */
}

.inpBox {
    background-color: #ebeaea;
    margin: 15px;
    padding: 15px 40px;
    border: none;
    border-radius: 20px;
}

button {
    cursor: pointer;
    background-color: #FFF9A6;
    font-weight: bold;
    color: #255538;
    margin: 15px;
    padding: 15px 40px;
    border: none;
    border-radius: 20px;
}
