* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #255538;
    height: 10vh;
}

#navSignIn {
    margin: 20px 20px 0 0;
}

#navSignIn a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

.brand {
    display: flex;
    color: #ebeaea;
}

.brand h3 {
    margin-top: 20px;
}

.brand img {
    margin-bottom: 10px;
}

#part1 {
    display: grid;
    background-image: linear-gradient(rgba(0, 0, 0,-1.1), rgba(0, 0, 0,-1.1)), url('./imgs/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

#part1 #text {
    place-self: center;
    text-align: center;
    color: #FFF9A6;
}

#part1 #text h1 {
    margin-bottom: 25px;
    font-size: 70px
}

#part2 {
    background-color: #ebeaea;
    height: 75vh;
}

#part3 {
    background-color: #FFF9A6;
    height: 95vh;
}

footer {
    background-color: #255538;
    height: 20vh;
}